html{
	height:100%;
}

body{
	background-color:#FFFFFF;
	height:100%;
	color:#005B47
}

header{
	height:25%;
}

main{
	height:50%;
}


#header{
	background-color:#C4FCF0;
	font-size: 1.875em;
	height:75%;
	width:100%;
	/*background-image: url('images/parallax.png');*/
	background-repeat:no-repeat;
	background-size:100%;
	display:flex;
	text-align:left;
	position:relative;
}

#lowerHeader{
	background-color:#FCBB90;
	width:100%;
	height:8%;
}

#headerText{
	align-self:flex-end;
	color:#005B47;
	margin:0;
}

#upperMainDiv{
	height:100%;
	width:100%;
	padding:3em 0;
}

.navBar{
	width:60%;
	display:flex;
	position:absolute;
	bottom:5%;
	right:0;
}

.navButton{
	background-color:#C4FCF0;
	text-align:center;
	float:left;
	/*border-top:0.25em solid #000000;
	border-left:0.125em solid #000000;
	border-right:0.125em solid #000000;*/
	box-sizing:border-box;
	display:block;
	width:20%;
	color:#005B47;
	font-size: 1em;
	text-decoration:none!important;
	transition: background-color 1s, color 1s;
	
}

.navButton:hover{
	background-color:#005B47;
	color:#C4FCF0;
	transition: background-color 1s, color 1s;
}

.leftImg{
	height:100%;
	float:left;
}
.slideshowSection{
	width:30%;
	height:100%;
	/*background-color:#FCBB90;*/
	display:inline-block;
	float:left;
	margin-right:3em;
}

.slideshow{
	width:100%;
	height:100%;
}

.slide{
	display:none;
	height:80%;
	width:100%;
}

.slideNum{
	color:#000000;
	font-size:0.75em;
	padding:0.66em 1em;
	position:relative;
	top:0;
}

.slideImg{
	width:100%;
	height:80%;
	display:block;
}

.slideText{
	color:#000000;
	font-size:1em;
	position: relative;
	padding:1em 0;
	width:100%;
	text-align:center;
	display:inline-block;
}

.prev, .next{
	position:relative;
	top:0;
	width:auto;
	margin-top:-1.375em;
	padding:1em;
	color:#FFFFFF;
	font-weight:bold;
	font-size:1.125em;
	transition:0.6s ease;
	border-radius:0 0.1875em 0.1875em 0;
	user-select:none;
}

.next{
	float:right;
	border-radius: 0.1875em 0 0 0.1875em;
}

.prev:hover, .next:hover{
	background-color:rgba(0,0,0,0.8);
}

.slideDots{
	text-align:center;
	width:100%;
}

.dot{
	height:1em;
	width:1em;
	margin:0 0.125em;
	background-color:#bbb;
	border-radius:50%;
	display:inline-block;
	transition:background-color 0.6s ease;
}

.active, .dot:hover{
	background-color:#717171;
}

.fade{
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade{
	
	from {opacity:.4}
	to {opacity:1}
	
}

.infoSection{
	width:35%;
	height:100%;
	/*background-color:#FCBB90;*/
	display:inline-block;
	/*float:right;*/
}

.newsfeedSection {
	width:30%;
	height:100%;
	background-color:#FCBB90;
	display:inline-block;
	float:right;
}


